$theme-dark: (
  bg-primary: #17151F,
  bg-card: #251F35,
  accent-primary: #9D8CFF,
  accent-secondary: #6b4fbb,
  text-primary: #FFFFFF,
  text-secondary: #b3a3ff,
  hover:#9d8cff1a
);

$theme-light: (
  bg-primary: #F5F3FF, // Soft off-white for the background
  bg-card: #FFFFFF, // Crisp white card background
  accent-primary: #6B4FBB, // Keep the accent color consistent
  accent-secondary: #9D8CFF, // Light purple, similar to dark theme
  text-primary: #17151F, // Deep text color to ensure readability
  text-secondary: #6B4FBB, // Lighter secondary text color for harmony
  shadow: #E0D7FF, // Subtle shadow for depth
  hover: #E9E5FF // S
);

// 🔥 Mixin pentru aplicarea temei
@mixin theme($mode) {
  $theme-map: if($mode == 'dark', $theme-dark, $theme-light);
  
  @each $key, $value in $theme-map {
    --#{$key}: #{$value};
  }
  
  background-color: var(--bg-primary);
  color: var(--text-primary);
}
