// 🎨 Definirea temelor
@use "./style/themes.scss" as *;
:root {
  @include theme(dark);
}

// 📌 Aplicarea temei
.theme-dark {
  @include theme('dark');
}

.theme-light {
  @include theme('light');
}

// 📌 Layout global
.theme-dark, .theme-light {
  height: auto;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.lang-icon{
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.toggle-button{
  display: flex;
  gap: 2em;
  position: absolute;
  right: 2em;
  top: 1em;
}
.container {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  gap: 2em;
  padding: 2em 10em;
  flex-grow: 1;
 
  .content {
    text-align: center;
    max-width: 1200px; /* Nu depășește 1200px */
    min-width: 300px;
  }
  @media  (max-width: 1000px) {
    padding: 2em 2em;
    
  }
  @media (max-width: 1250px) {
    flex-direction: column;
    padding: 5em 2em;
  }
}
