
html {
  height: 100%;
  // overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

body {
  min-height: 100dvh;
  // overflow: auto;
  margin: 0;
  padding-bottom: 1em; 
  -webkit-overflow-scrolling: touch;

}
